{{>navPanel}}

{{>scrapertitle}}
<div class="row">
  <div class="container">
      <h3 id = 'savedHeader'>Saved Articles</h3>
    {{#each results}}
      <div class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-primary openModal" data-toggle="modal" data-target="#noteModal" data-id= {{id}}>Add/View Notes</button>
            <button class="btn btn-danger unsaveArticle" data-id= {{id}}>Remove Article</button>
        </div>
        <div class="panel-body">
            <h2 ><a href = "https://www.bbc.com{{this.link}}" class = "articleDisplay" target = "_blank">{{this.title}}</a></h2>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Notes for This Article</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="note-modal-content modal-content">
          {{!-- <p>Notes</p>
          <div class="row" id = "notesRow">

          </div> --}}
          <form name="noteForm" id="noteForm">
              <input type= "hidden" name = "ArticleId" class= "newNoteArticleId" value = "">
              <textarea rows="4" cols="50"  placeholder="Enter a note here" type="text" name="noteText" id="noteText"></textarea>
              <div class="button-wrapper">
                <button class="btn  addNoteButton" type="submit">
                    Save Note!
                </button>
                <button class="btn  deleteNoteButton" data-id = "">
                    Delete Note!
                </button>
              </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>