body { 
    background: url(./../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* #addNoteButton{
    display: block;
    margin-left:5px;
} */

.articleDisplay{
    color: black
}

/* #deleteNoteButton{
    display: inline;
} */

.modal-content{
    margin-top: 5px;
    margin-bottom: 5px;
}

#noteForm{
    margin-top: 15px;
    padding: 5px;
}

.siteTitle {
    display: inline-block;
    vertical-align: middle;
}

.spacer {
    line-height: 300px;
    text-align: center;
    
}

